{% if not this.hidden %}
{% set menuCssClass = cssClass ~ (active?" active":"") %}
<li{% if menuCssClass %} class="{{ menuCssClass }}"{% endif %}>
{%- if url %}<a href="{{ this.link }}">{{ label }}</a>{% else %}{{ label }}{% endif -%}
{% if children %}
<ul>
	{%- for child in children -%}
		{{- toHtml(child) -}}
	{%- endfor -%}
</ul>
{%- endif -%}
</li>
{% endif %}
